[submodule "references/fluxdo"]
	path = references/fluxdo
	url = https://github.com/Lingyan000/fluxdo.git
	fetchRecurseSubmodules = false
[submodule "third_party/xlog-rs"]
	path = third_party/xlog-rs
	url = https://github.com/peterich-rs/xlog-rs.git
